<div>
  <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
  <h4>Popup</h4>
  <form ng-submit="send()">
    <div class="col-md-2">
      <p class="input-group">
        <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
  <!--       <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span> -->
        <button>Submit</button>
      </p>
    </div>
 
  </form>
</div>