.view {
  height: 100%;
}

.no-pad {
  padding: 0 0 0 0;
}

.dashboard_header {
  height: 60px;
  border-bottom: 2px solid #eee;
}

.dashboard_header h1 {
  color: 444;
  font-size: 20px;
  padding-top: 12px
}


.login {
  background: #eee;
  height: 100%;
}

.login_container {
  height: 300px;
  margin-top: 30%;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: #FFF;
}

.login_inputs header {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}


.has-form {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  min-width: 14rem;
  text-align: center;
}

@media only screen and (max-width: 40em) {
  .has-form {
    min-width: 10rem;
    top: 0.5rem; 
  }
  .has-form .button {
    height: 1.85rem; 
  } 
}

#searchbar {
  display: inline-block;
  padding-top: 4px;
  width 50%;
  margin: 0 auto;
}



