html, body {
  height: 100%;
}

.view {
  height: 100%;
}

.no-pad {
  padding: 0 0 0 0;
}

.dashboard_header {
  height: 60px;
  border-bottom: 2px solid #eee;
}

.dashboard_header h1 {
  color: 444;
  font-size: 20px;
  padding-top: 12px
}


.login {
  background: #fafafa;
  height: 100%;
}

.login-container {
  height: 300px;
  margin-top: 30%;
  padding-top: 20px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: #FFF;
}

.login header {
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px;
}

.login_inputs header {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}


.has-form {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  min-width: 14rem;
  text-align: center;
}

@media only screen and (max-width: 40em) {
  .has-form {
    min-width: 10rem;
    top: 0.5rem; 
  }
  .has-form .button {
    height: 1.85rem; 
  } 
}

#searchbar {
  display: inline-block;
  padding-top: 4px;
  width 50%;
  margin: 0 auto;
}



/* Main Dashboard View */

.dashboard_main {
  padding-top: 50px;
}

.dashboard_main .result-container {
  height: 200px;
  /*border: 1px solid #ccc;*/
}

.dashboard_main img {
  max-width: 120px;
}

.dashboard_main .overview-info > span {
  display: block;
}

.overview-info > .title {
  font-size: 18px;
  font-weight: 600;
}

.overview-info > .series-info {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.overview-info > .watch-time {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.overview-info > .watch-time-remaining {
  font-size: 14px;
  font-weight: 800;
  
}

.overview-info > .next-episode {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 35px;

}

.overview-info > .episode-name {
  font-size: 16px;
  font-weight: 800;

}


.overview-info > .show-all-episodes {
  display: inline-block !important;
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.overview-info > .show-all-episodes:hover {
  background: #BF209A;
  border: 1px solid #BF209A;
  color: #FFF;
}

.season-container {
  margin-bottom: 10px;
}

.season-name {
  position: relative;
  padding: 0px;
}

.season-name > .caret {
  position: absolute;
  top: 10px;
  left: -5px;
}


.drop-results {
  padding-top: 10px;
}

.results-info {
  position: relative;
}

.run-time-title {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #ccc;
  font-size: 10px
}


.results-info .season-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.episodes .episode-name {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 16px;
  font-weight: 300;
}

/*.episode-name > .run-time {
  float: right;
}*/


